@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0B0F19;
  color: #F9FAFB;
  font-family: Inter, sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #22D3EE;
  color: black;
}